<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|Roboto:100,300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT:400i,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <!-- HEADER ============================================= -->
    <section id="header">
        <div class="wrapper">

            <div class="contacts">
                <p>
                    <span><i class="fas fa-map-marker-alt"></i> 410 S Missouri St, Indianapolis, IN 46225, USA</span>
                    <span><i class="fas fa-phone fa-rotate-90"></i> Contact us directly at +3(123) 789-5789</span>
                </p>
            </div>

            <div id="top-nav">
                <div class="logo">
                    Эдельвейс
                </div>

                <div class="nav">
                    <nav>
                        <a href="#" class="active">Главная</a>
                        <a href="#">Наш Город</a>
                        <a href="#">Развлечения</a>
                        <a href="#">Об отеле</a>
                        <a href="#">Контакты</a>
                    </nav>
                </div>

                <div class="application">
                    <a href="#" class="red-button">Забронировать</a>
                </div>
            </div>

        </div>
    </section><!-- end of #header -->
    
    <!-- BLOG =============================================== -->
    
    <section id="blog">
        <div class="wrapper">

            <div class="blog-header">
                <h1>Наш город</h1>
            </div>

            <div class="blog-content">

                <div class="item">

                    <h2 class="title">
                        <a href="#">Lorem ipsum dolor sit</a>
                    </h2>
    
                    <div class="image">
                        <img src="pictures/rooms_1.jpg" alt="">
                    </div>
    
                    <div class="text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptate nam inventore delectus deserunt. Itaque, blanditiis voluptatem quisquam quis nobis tempora dignissimos similique ab. Quos eveniet quis ipsa doloremque aut.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptate nam inventore delectus deserunt. Itaque, blanditiis voluptatem quisquam quis nobis tempora dignissimos similique ab. Quos eveniet quis ipsa doloremque aut.</p>
                        </div>
    
                    <div class="read-more">
                        <a href="#">Подробнее</a>
                    </div>
                </div>
    
                <div class="item">
    
                    <h2 class="title">
                        <a href="#">Lorem ipsum dolor sit</a>
                    </h2>
    
                    <div class="image">
                        <img src="pictures/rooms_1.jpg" alt="">
                    </div>
    
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptate nam inventore delectus deserunt. Itaque, blanditiis voluptatem quisquam quis nobis tempora dignissimos similique ab. Quos eveniet quis ipsa doloremque aut.</p>
                    </div>
    
                    <div class="read-more">
                        <a href="#">Подробнее</a>
                    </div>
                </div>
    
                <div class="item">
    
                    <h2 class="title">
                        <a href="#">Lorem ipsum dolor sit</a>
                    </h2>
    
                    <div class="image">
                        <img src="pictures/rooms_1.jpg" alt="">
                    </div>
    
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptate nam inventore delectus deserunt. Itaque, blanditiis voluptatem quisquam quis nobis tempora dignissimos similique ab. Quos eveniet quis ipsa doloremque aut.</p>
                    </div>
    
                    <div class="read-more">
                        <a href="#">Подробнее</a>
                    </div>
                </div>
    
                <div class="item">
    
                    <h2 class="title">
                        <a href="#">Lorem ipsum dolor sit</a>
                    </h2>
    
                    <div class="image">
                        <img src="pictures/rooms_1.jpg" alt="">
                    </div>
    
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptate nam inventore delectus deserunt. Itaque, blanditiis voluptatem quisquam quis nobis tempora dignissimos similique ab. Quos eveniet quis ipsa doloremque aut.</p>
                    </div>
    
                    <div class="read-more">
                        <a href="#">Подробнее</a>
                    </div>
                </div>
    
                <div class="item">
    
                    <h2 class="title">
                        <a href="#">Lorem ipsum dolor sit</a>
                    </h2>
    
                    <div class="image">
                        <img src="pictures/rooms_1.jpg" alt="">
                    </div>
    
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptate nam inventore delectus deserunt. Itaque, blanditiis voluptatem quisquam quis nobis tempora dignissimos similique ab. Quos eveniet quis ipsa doloremque aut.</p>
                    </div>
    
                    <div class="read-more">
                        <a href="#">Подробнее</a>
                    </div>
                </div>
                
            </div>

        </div>
    </section>

    <!-- FOOTER ============================================= -->
    <section id="footer">

        <div class="wrapper">
            <div class="left">
                <div class="logo">
                    Эдельвейс
                </div>

                <p>Aparto is a unique real estate agency located in Indianapolis, IN. We strive to find the perfect homes for a variety of clients, including those who just moved to our country. If you're looking to buy, sell, or rent a residential property and don’t want to waste your money, look no further than Aparto Real Estate Agency!</p>
            </div>
            <div class="center">
                <h3>RECENT POSTS</h3>

                <ul class="posts">
                    <li>
                        <p class="info">by Calvin Fitzgerald Jan. 12 3 comments</p>
                        <p class="text white">Miller Residences Unveils First Seven Homes in Valley Village</p>
                    </li>
                    <li>
                        <p class="info">by Calvin Fitzgerald Jan. 12 3 comments</p>
                        <p class="text white">Manhattan and Hermosa Beach Are The Hottest New SoCal Beach Towns</p>
                    </li>
                </ul>
                
            </div>
            <div class="right">

                <h3>CONTACTS</h3>
                
                <ul class="contacts">
                    <li><i class="white fas fa-map-marker-alt"></i> 410 S Missouri St, Indianapolis, IN 46225, USA</li>
                    <li><i class="white fas fa-phone fa-rotate-90"></i> Contact us directly at +3(123) 789-5789</li>
                    <li><i class="white fas fa-envelope"></i> info@demolink.org</li>
                </ul>

            </div>            
        </div>

    </section><!-- end of #footer -->
        
    <div id="copyright">
        <div class="wrapper">
            <p>&copy; Aparto 2019. All Right Reserved. <a href="#">Privacy Policy</a></p>
        </div>
    </div>

    <div id="grey-background">
        <div id="message">
            <div id="close">x</div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam molestiae tenetur doloremque dolore atque dicta sint illo, alias blanditiis, quia aspernatur impedit, laboriosam ad quas eveniet. Temporibus voluptatibus accusamus ex.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam molestiae tenetur doloremque dolore atque dicta sint illo, alias blanditiis, quia aspernatur impedit, laboriosam ad quas eveniet. Temporibus voluptatibus accusamus ex.</p>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/script.js"></script>

</body>
</html>