<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,800|Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <!-- HEADER ============================================= -->
    <section id="header">
        <div class="wrapper">

            <div class="contacts">
                <p>
                    <span>410 S Missouri St, Indianapolis, IN 46225, USA</span>
                    <span>Contact us directly at +3(123) 789-5789</span>
                </p>
            </div>

            <div id="top-nav">
                <div class="logo">
                    Эдельвейс
                </div>

                <div class="nav">
                    <nav>
                        <a href="#" class="active">Главная</a>
                        <a href="#">Наш Город</a>
                        <a href="#">Развлечения</a>
                        <a href="#">Об отеле</a>
                        <a href="#">Контакты</a>
                    </nav>
                </div>

                <div class="application">
                    <a href="#">Забронировать</a>
                </div>
            </div>

        </div>
    </section><!-- end of #header -->
    
    <!-- SLIDER ============================================= -->
    <section id="slider">
  
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti id quia quod earum? Voluptates voluptatibus dolore asperiores accusantium hic? In facilis ad repellat, aut corrupti omnis mollitia laudantium eaque adipisci!</p>            

    </section><!-- end of #slider -->
    
    <!-- WELCOME ============================================ -->
    <section id="welcome">
        <div class="wrapper">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti id quia quod earum? Voluptates voluptatibus dolore asperiores accusantium hic? In facilis ad repellat, aut corrupti omnis mollitia laudantium eaque adipisci!</p>            
            

        </div>
    </section><!-- end of #welcome -->
    
    <!-- ROOMS ============================================== -->
    <section id="rooms">
        <div class="wrapper">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti id quia quod earum? Voluptates voluptatibus dolore asperiores accusantium hic? In facilis ad repellat, aut corrupti omnis mollitia laudantium eaque adipisci!</p>            
            

        </div>
    </section><!-- end of #rooms -->
    
    <!-- REASONS ============================================ -->
    <section id="reasons">
        <div class="wrapper">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti id quia quod earum? Voluptates voluptatibus dolore asperiores accusantium hic? In facilis ad repellat, aut corrupti omnis mollitia laudantium eaque adipisci!</p>            
            

        </div>
    </section><!-- end of #reasons -->
    
    <!-- REWIES ============================================= -->
    <section id="rewies">
        <div class="wrapper">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti id quia quod earum? Voluptates voluptatibus dolore asperiores accusantium hic? In facilis ad repellat, aut corrupti omnis mollitia laudantium eaque adipisci!</p>            
            

        </div>
    </section><!-- end of #rewies -->
    
    <!-- MAP ================================================ -->
    <section id="map">

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti id quia quod earum? Voluptates voluptatibus dolore asperiores accusantium hic? In facilis ad repellat, aut corrupti omnis mollitia laudantium eaque adipisci!</p>        </section><!-- end of #map -->
    
    <!-- ACTION ============================================= -->
    <section id="action">
        <div class="wrapper">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti id quia quod earum? Voluptates voluptatibus dolore asperiores accusantium hic? In facilis ad repellat, aut corrupti omnis mollitia laudantium eaque adipisci!</p>            
            

        </div>
    </section><!-- end of #action -->
    
    <!-- FOOTER ============================================= -->
    <section id="footer">
        <div class="wrapper">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti id quia quod earum? Voluptates voluptatibus dolore asperiores accusantium hic? In facilis ad repellat, aut corrupti omnis mollitia laudantium eaque adipisci!</p>            
            

        </div>
    </section><!-- end of #footer -->
    

</body>
</html>